<include src="layout/head.html" title="Home | Surge Media"></include>

<include src="navs/navbar.html" brand="Brand Name" extraClasses="pull-left " extraClassesNav="pull-right">
	 	<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
</include>


<div class="clearfix">
<include src="carousel/default.html"></include>
</div>




<div class="container">
	<div id="mission-statement" class="col-lg-10 col-md-offset-1">
		<div class="col-lg-5"><h1>An Example title<br>for an example website</h1></div>
		<div class="col-lg-7"><br>	Video productions allow a form of human engagement, which is simply not available in other forms of communication. The power of captivating the audience with sensory cues like movement, sound, atmosphere and people, creates intrigue and commitment from viewers. It creates memories. Engagement and memory are how you create awareness, retain appreciation and build momentum. Put simply, Surge Media = Human-to-Human Engagement.</div>
	</div>
</div>

<div id="services" class="grid">
	<ul>
		<li class="grid-item photography"><a href="#"><img src="https://unsplash.it/300/300/?random" alt=""><i class="fa fa-send"></i>
		<span>Service</span>
		</a></li>
		<li class="grid-item video"><a href="#"><img src="https://unsplash.it/300/300/?random" alt=""><i class="fa fa-send"></i>
		<span>Service</span>
		</a></li>
		<li class="grid-item design"><a href="#"><img src="https://unsplash.it/300/300/?random" alt=""><i class="fa fa-send"></i>
		<span>Service</span>
		</a></li>
		<li class="grid-item development"><a href="#"><img src="https://unsplash.it/300/300/?random" alt=""><i class="fa fa-send"></i>
		<span>Service</span>
		</a></li>
		<li class="grid-item hosting"><a href="#"><img src="https://unsplash.it/300/300/?random" alt=""><i class="fa fa-send"></i>
		<span>Service</span>
		</a></li>
	</ul>
</div>

<include src="containers/logo-wall.html" id="clients" title="Cool As Clients" titleClasses="text-bump"></include>

<div id="map" class="row">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.1762468810193!2d153.0416832!3d-27.494893700000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a43d274006b%3A0x5d949c920a166b03!2sSurge+Media!5e0!3m2!1sen!2sau!4v1441865862262" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!-- FOOTER -->
<div id="footer">
<include src="layout/footer.html" brand="Surge Media">
	<li class=""><a href="#">Home </a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
</include>
</div>
<include src="layout/foot.html" ></include>

