<include src="layout/head.html" title="Home | Surge Media"></include>

<include src="navs/nav-fixed.html"> 
<li><a href="#">Home</a></li>
    <li><a href="#">Info</a></li>
    <li><a href="#">Work</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Contact</a></li>
</include>


<include src="alerts/alert-check.html" title="hey buddy" class="alert alert-dismissible alert-warning">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, delectus deleniti dignissimos qui ipsa perspiciatis assumenda omnis eveniet, nihil officiis distinctio. Iusto suscipit repudiandae repellendus quaerat, ducimus consequuntur, laboriosam animi.
</include>


<include src="modals/loginmodal_with_facebook.html" class="row"></include>


<include src="layout/footer.html" brand="Surge Media"></include>

<include src="layout/foot.html" ></include>

