<include src="layouts/head.html" title="Example include"></include>
<div id="console" class="container">	
	
</div>
	
<script>
		$.getJSON('/template-list.json', function(json) {
			console.log(json);
			for (var i = json.length - 1; i >= 0; i--) {
				console.log(json[i]['path'])
				console.log(json[i]['path'].split('/'));
				var html = "<li><a href='"+json[i]['path'].replace('render/',"")+"'>"+json[i]['path']+"</a></li>";
				$('#console').append('<ul>');
				$('#console').append(html)
				$('#console').append('</ul>');

			};
		
				/*optional stuff to do after success */
		});
			
		</script>

	<div id="resources" class="container">
		<h2>Resources</h2>
		<p>Here are some places to find snippets</p>
		<ul>
			<li><a href="http://cssdeck.com"><img src="http://unsplash.it/300/300/?random" alt=""></a></li>
			<li><a href="http://codepen.io"><img src="http://unsplash.it/300/300/?random" alt=""></a></li>
			<li><a href=""><img src="" alt="http://unsplash.it/300/300/?random"></a></li>
		</ul>
	</div>


<include src="layouts/foot.html" ></include>
