<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <a href="#" class="flying-arrow">
          <h4 class="col-sm-3">Get in Touch Today</h4>
          <span>
        </span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid outside-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="footer-links">
         @@content
        </ul>
      </div>

      <div class="col-sm-6 soc-links right">
        <a href="" class="fa fa-facebook"></a>
        <a href="" class="fa fa-youtube"></a>
        <a href="" class="fa fa-google-plus"></a>
      </div>
    </div>
        <div class="row copyright">
          <div class="col-sm-12 ">
            <h6>Copyright @@brand 2015 </h6>
          </div>
      </div>
  </div>